//////////////////////////////////////
/// TYPOGRAPHY STYLES >> HEADINGS AND PARAGRAPHS
///

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}
